body {
    font-style: italic;
}
table {
    border-collapse: collapse;
    margin: 4px;
    text-align: right;
}
td {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 20px;
    border: 4px black solid;
}
caption {
    text-decoration: brown;
    font-size: x-large;
}
.a{
    background: aqua;
}
a {
    text-decoration: none;
}